.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 83px);
  max-width: 600px;
  padding: 4rem 0;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  text-align: center;
  line-height: 1.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.fileInfo {
  margin-top: 1rem;
}

.errorOutput {
  margin-top: 1rem;
  color: red;
}

.patchInfo {
  text-align: left;
  max-width: calc(100vw - 30px);
  margin-top: 1rem;
  border: solid 1px #aaa;
  background-color: #e4e4e4;
  padding: 1rem;
  overflow-x: scroll;
}

.searchBox {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
}

.romMd5 {
  white-space: nowrap;
}

.downloadButton {
  margin-top: 1rem;
}

.note {
  font-size: 12px;
}

.updated {
  font-size: 12px;
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.fileButton {
  display: inline-block;
  margin-top: 1rem;
  background: linear-gradient(to top, #e3e3e3, #f9f9f9);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.fileButton:hover {
  border-color: black;
}
.fileButton:active {
  background: linear-gradient(to top, #f9f9f9, #e3e3e3);
}

.patchList {
  text-align: center;
}

.alphaList {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Courier, monospace;
}
